<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>GroupDocs.Annotation for Java Spring</title>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/all.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/v4-shims.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/swiper.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/jquery-ui.min.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/circle-progress.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer-dark.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/annotation/css/annotation.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/annotation/css/bcPicker.css'}" />
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/annotation/css/bcPicker.mobile.css'}" />
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/swiper.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery-ui.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.ui.touch-punch.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.initialize.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.timeago.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/viewer/js/viewer.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.timeago.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/svg.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/svg.draw.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/bcPicker.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/drawSvgAnnotation.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/drawTextAnnotation.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/annotation/js/annotation.js'}"></script>
</head>
<body>
<div id="element"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#element').annotation({
        /*[+
        applicationPath: 'http://' + [[${globalConfiguration.application.hostAddress}]] + ':' + [[${globalConfiguration.server.httpPort}]] + [[${globalConfiguration.server.applicationContextPath}]] + '/annotation',
        +]*/
        defaultDocument: /*[[${annotationConfiguration.defaultDocument}]]*/'',
        preloadPageCount: /*[[${annotationConfiguration.preloadPageCount}]]*/'',
        pageSelector: /*[[${annotationConfiguration.pageSelector}]]*/'',
        download: /*[[${annotationConfiguration.download}]]*/'',
        upload: /*[[${annotationConfiguration.upload}]]*/'',
        print: /*[[${annotationConfiguration.print}]]*/'',
        browse: /*[[${annotationConfiguration.browse}]]*/'',
        rewrite: /*[[${annotationConfiguration.rewrite}]]*/'',
        enableRightClick: /*[[${annotationConfiguration.enableRightClick}]]*/'',
        textAnnotation: /*[[${annotationConfiguration.textAnnotation}]]*/'',
        areaAnnotation: /*[[${annotationConfiguration.areaAnnotation}]]*/'',
        pointAnnotation: /*[[${annotationConfiguration.pointAnnotation}]]*/'',
        textStrikeoutAnnotation: /*[[${annotationConfiguration.textStrikeoutAnnotation}]]*/'',
        polylineAnnotation: /*[[${annotationConfiguration.polylineAnnotation}]]*/'',
        textFieldAnnotation: /*[[${annotationConfiguration.textFieldAnnotation}]]*/'',
        watermarkAnnotation: /*[[${annotationConfiguration.watermarkAnnotation}]]*/'',
        textReplacementAnnotation: /*[[${annotationConfiguration.textReplacementAnnotation}]]*/'',
        arrowAnnotation: /*[[${annotationConfiguration.arrowAnnotation}]]*/'',
        textRedactionAnnotation: /*[[${annotationConfiguration.textRedactionAnnotation}]]*/'',
        resourcesRedactionAnnotation: /*[[${annotationConfiguration.resourcesRedactionAnnotation}]]*/'',
        textUnderlineAnnotation: /*[[${annotationConfiguration.textUnderlineAnnotation}]]*/'',
        distanceAnnotation: /*[[${annotationConfiguration.distanceAnnotation}]]*/'',
        downloadOriginal:  /*[[${annotationConfiguration.downloadOriginal}]]*/'',
        downloadAnnotated:  /*[[${annotationConfiguration.downloadAnnotated}]]*/'',
        zoom:  /*[[${annotationConfiguration.zoom}]]*/'',
        fitWidth:  /*[[${annotationConfiguration.fitWidth}]]*/''
    });
    /*]]>*/
</script>
</body>
</html>